header {
  text-align: center;
  font-size: 3rem;
  margin: 1em 0;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
}

.h1 {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  box-shadow: 1px 1px 1px #000;
}
